.row {
    margin-bottom: 20px;
}

nav .navmenu {
    width: 100%;
    display: flex;
    background: #f2f2f2;
}

nav .navmenu a {
    padding: 15px !important;
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

nav .navmenu a:hover {
    background: #a2a2a2;
}