{% extends 'template.html.twig' %}

{% block title %}
    Detalles del Candidato
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Detalles del candidato</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                {% for candidate in candidates %}
                    <strong>Nombre</strong>
                    <p>{{ candidate.fullname }}</p>
                    <hr>
                    <strong>Documento</strong>
                    <p>{{ candidate.identification|number_format(0, '.', ',') }}</p>
                    <hr>
                    <strong>Edad</strong>
                    <p>{{ candidate.age }}</p>
                    <hr>
                    <strong>Aspiracion salarial</strong>
                    <p>{{ candidate.salary|number_format(0, '.', ',') }}</p>
                    <hr>
                    <strong>Resumen de experiencia</strong>
                    <p>{{ candidate.description }}</p>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

