{% extends "template.html.twig" %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Pagina Principal</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-user" style="font-size: 50px" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><h4>Inscribir Candidato</h4></div>
                            </div>
                        </div>
                    </div>
                    <a href="create.php">
                        <div class="panel-footer">
                            <span class="pull-left">Inscribir Candidato</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span class="glyphicon glyphicon-th-list" style="font-size: 50px" aria-hidden="true"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><h4>Lista de Candidatos</h4></div>
                            </div>
                        </div>
                    </div>
                    <a href="list.php">
                        <div class="panel-footer">
                            <span class="pull-left">Ver lista de Candidatos</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
