{% extends 'template.html.twig' %}

{% block title %}
    lista de candidatos
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Candidatos Inscritos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <form class="form-inline" action="listByName.php" method="post">
                    <div class="form-group">
                        <label for="searchByName">Buscar por nombre</label>
                        <input class="form-control" type="text" id="searchByName" name="searchByName">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            </div>
            <div class="col-md-5">
                <form class="form-inline" action="listById.php" method="post">
                    <div class="form-group">
                        <label for="searchById">Buscar por cedula</label>
                        <input class="form-control" type="text" id="searchById" name="searchById">
                    </div>
                    <button type="submit" class="btn btn-default">Buscar</button>
                </form>
            </div>

        </div>
        <div class="row">
            <div class="col-md-10 col-sm-12">
                <table class="table">
                    <tr>
                        <th>Nombre</th>
                        <th>Cedula</th>
                        <th>Acciones</th>
                    </tr>
                    {% for candidate in candidates %}
                        <tr>
                            <td>{{ candidate.fullname }}</td>
                            <td>{{ candidate.identification|number_format(0, '.', ',') }}</td>
                            <td>
                                <a href="detail.php?id={{ candidate.id }}">Ver ficha</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
{% endblock %}