{% extends "template.html.twig" %}

{% block title %}
    Registro Completado
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>La creacion del candidato ha sido exitosa</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="index.php">Volver al inicio</a>
            </div>
        </div>
    </main>
{% endblock %}