{% extends "template.html.twig" %}

{% block title %}
    Ingresar Candidato
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Creación de nuevo candidato</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <form action="create.php" method="post">
                    <div class="form-group">
                        <label for="name">Nombre Completo</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="identification">Cedula de Ciudadania</label>
                        <input type="text" class="form-control" id="identification" name="identification" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Edad</label>
                        <input type="number" class="form-control" id="age" name="age" required>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salario al que aspira</label>
                        <input type="number" class="form-control" id="salary" name="salary" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Experiencia laboral</label>
                        <textarea name="description" class="form-control" id="description" cols="20" rows="10"
                                  required></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Enviar</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}